@import url(fields/index.css);

form {
    margin-top: 2.5rem;
}

fieldset {
    display: grid;
    border: none;
    gap: 1rem;
    padding-bottom: 3rem;
}

legend {
    font: var(--text-heading);
}

footer {
    margin-bottom: 48px;
}