* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: var(--shape-background);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--shape-body);
        border-radius: 10px;
        border: 5px solid var(--input-base);
    }
}

:root {
    --font-logo: "Leckerli One", cursive;
    --text-logo: 400 2.5rem var(--font-logo);

    --font-family-md: 'Baloo 2', sans-serif;
    --text-md: 700 1.75rem var(--font-family-md);
    --text-sm: 700 1.125rem var(--font-family-md);

    --font-family-body: 'Open Sans', sans-serif;
    --body-md: 600 1rem var(--font-family-body);
    --body-sm-regular: 400 .875rem var(--font-family-body);
    --body-sm: 600 .875rem var(--font-family-body);
    --body-xs: 600 .75rem var(--font-family-body);

    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;
    --text-pink: #FF598B;

    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;

    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    --danger: #FF5959;

    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;
}

body {
    overflow: hidden;
    height: 100vh;
    background: var(--shape-background);
    padding-block: 1.25rem;
    padding-inline-start: 1.25rem;
}

h1 {
    font: var(--text-logo);
    color: var(--text-pink);
}

p {
    font: var(--body-md);
    color: var(--text-heading);
}

main {
    background-color: var(--shape-body);
    border-radius: .75rem;
    overflow: auto;

    img {
        object-fit: cover;
        border-radius: 4px;
    }
}

hr {
    border: 1px solid var(--input-stroke);
    margin-bottom: 40px;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.gap-1 {
    gap: 1rem;
}

.pd-y-1 {
    padding-block: 8px;
}

label {
    font: var(--body-sm-regular);
    color: var(--text-body);
}